@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --pretitle-color: #ffa5ba;
  --main-title-color: #d41443;
  --secondary-title-color: #ffffff;
  --main-text-color: #000000;
  --secondary-text-color: #907e82;
  --thirdly-text-color: #ffffff;
  --main-btn-color: #d41443;
  --main-btn-text-color: #ffffff;
  --main-btn-hover-color: #c7133e;
  --secondary-btn-color: #ffffff;
  --secondary-btn-text-color: #d41443;
  --secondary-btn-hover-color: #ecebeb;
  --main-bg-color: #fff5f6;
  --secondary-bg-color: #ffffff;
  --hero-bg-color: #ffb8ca;
  --modal-menu-bg-color: #e17992;
  --big-title-size: 34px;
  --small-title-size: 18px;
  --products-title-size: 20px;
  --main-text-size: 12px;
  --products-text-size: 14px;
}

@media screen and (min-width: 768px) {
  :root {
    --big-title-size: 48px;
    --small-title-size: 26px;
    --products-title-size: 20px;
    --main-text-size: 14px;
    --secondary-text-size: 8px;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --big-title-size: 58px;
    --small-title-size: 30px;
    --main-text-size: 16px;
    --secondary-text-size: 14px;
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.advantages {
  padding-top: 0px;
  padding-bottom: 80px;
  background-color: #fff5f6;
}

.advantages-list {
  padding-left: 20px;
  padding-right: 70px;
  padding-top: 66px;
  padding-bottom: 0;
}

.advantages-list_item {
  position: relative;
}
.advantages-list_item:not(:last-child) {
  margin-bottom: 98px;
}
.advantages-list_item:nth-child(1)::before {
  content: " ";
  display: block;
  position: absolute;
  height: 50px;
  width: 33px;
  top: -66px;
  left: 0px;
  background-image: url(/images/adv-icon-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages-list_item:nth-child(2)::before {
  content: " ";
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  top: -66px;
  left: 0px;
  background-image: url(/images/adv-icon-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages-list_item:nth-child(3)::before {
  content: " ";
  display: block;
  position: absolute;
  height: 50px;
  width: 44px;
  top: -66px;
  left: 0px;
  background-image: url(/images/adv-icon-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages-list_title {
  margin-bottom: 20px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.advantages-list_content {
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 1.67;
}

.header .container, .hero .container {
  background-color: var(--hero-bg-color);
}

.footer {
  background-color: rgb(255, 245, 246);
  width: 100%;
  padding-top: 24px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
.footer__titel {
  width: 234px;
  padding-top: 0;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgb(212, 20, 67);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer__titel {
    display: block;
    margin-right: 0;
    width: 340px;
    font-size: 48px;
    letter-spacing: 0.06em;
  }
}
.footer__titel--first-part {
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 165, 186);
  margin-left: 2px;
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .footer__titel--first-part {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
.footer__contack-blok {
  margin-bottom: 40px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .footer__contack-blok {
    width: 268px;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.social-network {
  list-style: none;
  display: flex;
  justify-content: right;
  margin-bottom: 40px;
}

.social-network__item {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgb(254, 165, 187);
}

.social-network__item:not(:last-child) {
  margin-right: 28px;
}

.contact__text {
  font-family: DM Sans;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.83;
  letter-spacing: 0em;
  text-align: right;
}

.contact__link {
  font-family: DM Sans;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0em;
  text-align: right;
  color: rgb(212, 20, 67);
}

.contact__copyright {
  color: rgb(144, 126, 130);
  font-family: DM Sans;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .contact__copyright {
    margin-left: auto;
    margin-right: auto;
  }
}
.decor-line {
  border-top: 1px solid rgb(225, 225, 225);
}/*# sourceMappingURL=main.css.map */