<!-- Section  - Advantages -->
<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-list_item">
        <h3 class="advantages-list_title">721</h3>
        <p class="advantages-list_content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list_item">
        <h3 class="advantages-list_title">16kg</h3>
        <p class="advantages-list_content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list_item">
        <h3 class="advantages-list_title">84</h3>
        <p class="advantages-list_content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
