<!-- Section  - Advantages -->
<section class="advantages" id="about-us">
  <div class="container">
    <div class="about-wrap">
      <label class="about-wrap__pretitle">tradition and love</label>
      <h2 class="about-wrap__title">how it`s made</h2>
      <div class="about-wrap__flex">
        <img
          class="about-wrap__img"
          srcset="
            ./images/advantages/cow-img-280.png   280w,
            ./images/advantages/cow-img-336.png   336w,
            ./images/advantages/cow-img-501.png   501w,
            ./images/advantages/cow-img-560.png   560w,
            ./images/advantages/cow-img-672.png   672w,
            ./images/advantages/cow-img-1002.png 1002w
          "
          alt="cow with a jug of milk"
          sizes="(min-width: 1280px) 501px, (min-width: 768px) 336px, (min-width: 320px) 280px, 280px"
          src="./images/advantages/cow-img-280.png"
          width="280px"
        />

        <div class="about-wrap__content">
          <p class="about-wrap__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>

          <p class="about-wrap__secondary-text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.</br> &nbsp; </br> Aliquam erat volutpat. Aenean accumsan.
          </p>

          <button class="about-wrap__btn btn btn--white" type="button" about-open>Read more <svg class="btn__icon" width="7" height="10">
   <use href="./images/sprite.svg#icon-Vector-1"></use>
 </svg></button>
        </div>
      </div>
    </div>

    <div class="advantages-wrap">
      <h2 class="visually-hidden">Advantages</h2>
      <ul class="advantages-list list" id="advantages">
        <li class="advantages-list__item">   
          <h3 class="advantages-list__title">721</h3>
          <p class="advantages-list__content">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages-list__item">
          <h3 class="advantages-list__title">16kg</h3>
          <p class="advantages-list__content">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages-list__item">
          <h3 class="advantages-list__title">84</h3>
          <p class="advantages-list__content">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
