<!------------- backdrop ------------->
    <div class="backdrop is-hidden" data-modal-about>
        <div class="modal">
            <div class="modal-top">
        <button class="button-backdrop-close" about-close>
          <svg class="" width="18" height="18">
            <use href="./images/sprite.svg#icon-close-1"></use>
          </svg>
        </button>

        <p class="modal-title">Choose a product</p>
        <form class="">

            <div class="checkbox-prodacts">
                <ul class="checkbox-prodacts__list">
                  <li class="checkbox-prodacts__item">
                      <input 
              class="checkbox-prodacts__input"
              type="checkbox"
              name="ice-cream"
              id="ice-cream"
            />
            <label class="checkbox-prodacts__label" 
            for="ice-cream"><br>ice cream <br>(1.25$)</label>
                  </li>

                  <li class="checkbox-prodacts__item">
                      <input 
              class="checkbox-prodacts__input"
              type="checkbox"
              name="ice-coffee"
              id="ice-coffee"
            />
            <label class="checkbox-prodacts__label" 
            for="ice-coffee"><br>ice coffee <br>(1.1$)</label>
                  </li>

                  <li class="checkbox-prodacts__item">
                      <input 
              class="checkbox-prodacts__input"
              type="checkbox"
              name="milkshakes"
              id="milkshakes"
            />
            <label class="checkbox-prodacts__label" 
            for="milkshakes"><br>milkshakes <br>(1.2$)</label>
                  </li>
              </ul>
              
          </div>

          <div class="modal-inputs">
            <div class="form-field">
              <label class="form-label" for="name"> Name</label>
              <div class="input-box">
                <input class="form-input" type="text" name="name" id="name" />
                <svg class="modal-icon" width="18" height="18">
                  <use href="./images/sprite.svg#icon-person-black-18dp-1"></use>
                </svg>
              </div>
            </div>

            <div class="form-field">
              <label class="form-label" for="tel"> Phone</label>
              <div class="input-box">
                <input class="form-input" type="tel" name="tel" id="tel" />
                <svg class="modal-icon" width="18" height="18">
                  <use href="./images/sprite.svg#icon-phone-black-18dp-1"></use>
                </svg>
              </div>
            </div>

            <div class="form-field">
              <label class="form-label" for="address">Address</label>
              <textarea
                class="form-text"
                name="address"
                id="address"
                placeholder="Введите текст"
              ></textarea>
            </div>
          </div>
          

          
          <div class="checkbox-field">
            <input
              class="checkbox-input visually-hidden"
              type="checkbox"
              name="policy"
              id="policy"
            />
            
            <label class="checkbox-label" for="policy">
              <span class="modal-check">
                <svg class="check-icon">
                  <use href="./images/sprite.svg#icon-Vector"></use>
                </svg>
              </span>
              I agree to the newsletter and accept the<a href=""> Privacy policy</a>
            </label>
            </div>
            </div>

                </form>
        <div class="modal-bottom">
            <div class="button-field">
            <button class="modal-button" type="submit">Send</button>
        </div>
          </div>
      </div>
    </div>