<!------------- backdrop ------------->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="button-backdrop-close" data-modal-close>
      <svg class="" width="18" height="18">
        <use href="./images/sprite.svg#icon-close-1"></use>
      </svg>
    </button>

    <p class="modal-title">Choose a product</p>
    <form class="">
      <!-- ----  Checkbox prodacts ---- -->

      <div class="checkbox-prodacts">
        <ul class="checkbox-prodacts__list">
          <li class="checkbox-prodacts__item">
            <input
              class="checkbox-prodacts__input visually-hidden"
              type="checkbox"
              name="ice-cream"
              id="ice-cream"
            />
            <label class="checkbox-prodacts__label" for="ice-cream">
              <span class="checkbox-prodacts__check">
                <svg class="checkbox-prodacts__icon">
                  <use href="./images/sprite.svg#icon-ice-cream-4"></use>
                </svg>
              </span>
              ice cream <br />(1.25$)
            </label>
          </li>
          <li class="checkbox-prodacts__item">
            <input
              class="checkbox-prodacts__input visually-hidden"
              type="checkbox"
              name="ice-coffee"
              id="ice-coffee"
            />
            <label class="checkbox-prodacts__label" for="ice-coffee">
              <span class="checkbox-prodacts__check">
                <svg class="checkbox-prodacts__icon">
                  <use href="./images/sprite.svg#icon-ice-cream-2"></use>
                </svg>
              </span>
              ice coffee <br />(1.1$)</label
            >
          </li>

          <li class="checkbox-prodacts__item">
            <input
              class="checkbox-prodacts__input visually-hidden"
              type="checkbox"
              name="milkshakes"
              id="milkshakes"
            />
            <label class="checkbox-prodacts__label" for="milkshakes">
              <span class="checkbox-prodacts__check">
                <svg class="checkbox-prodacts__icon">
                  <use href="./images/sprite.svg#icon-ice-cream-3"></use>
                </svg>
              </span>
              milk shakes <br />
              (1.2$)</label
            >
          </li>
        </ul>
      </div>

      <div class="modal-inputs">
        <div class="form-field">
          <label class="form-label" for="name"> Name</label>
          <div class="input-box">
            <input class="form-input" type="text" name="name" id="name" />
            <svg class="modal-icon" width="18" height="18">
              <use href="./images/sprite.svg#icon-person-black-18dp-1"></use>
            </svg>
          </div>
        </div>

        <div class="form-field">
          <label class="form-label" for="tel"> Phone</label>
          <div class="input-box">
            <input class="form-input" type="tel" name="tel" id="tel" />
            <svg class="modal-icon" width="18" height="18">
              <use href="./images/sprite.svg#icon-phone-black-18dp-1"></use>
            </svg>
          </div>
        </div>

        <div class="form-field">
          <label class="form-label" for="address">Address</label>
          <textarea
            class="form-text"
            name="address"
            id="address"
            placeholder="Введите текст"
          ></textarea>
        </div>
      </div>

      <div class="checkbox-field">
        <input class="checkbox-input visually-hidden" type="checkbox" name="policy" id="policy" />

        <label class="checkbox-label" for="policy">
          <span class="modal-check">
            <svg class="check-icon">
              <use href="./images/sprite.svg#icon-Vector"></use>
            </svg>
          </span>
          I agree to the newsletter and accept the<a href=""> Privacy policy</a>
        </label>
      </div>
    </form>

    <div class="button-field">
      <form action="index.html">
        <button class="modal-button" type="submit">Buy</button>
      </form>
    </div>
  </div>
</div>

<!------------- backdrop-contacts ------------->
<div class="backdrop is-hidden" modal-contacts>
  <div class="modal contacts-modal">
    <button type="button" class="button-backdrop-close" modal-contacts-close>
      <svg class="" width="18" height="18">
        <use href="./images/sprite.svg#icon-close-1"></use>
      </svg>
    </button>

    <p class="modal-title">contacts modal</p>
  </div>
</div>
