<section class="customer-reviews-section" id="customer-reviews">
  <article class="customer-reviews-container container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="slider-img" src="./images/developer-img.png" alt="Developer photo" />
          <div class="text-wrapper">
            <p class="slider-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="signature">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img class="slider-img" src="./images/developer-img.png" alt="Developer photo" />
          <div class="text-wrapper">
            <p class="slider-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="signature">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img class="slider-img" src="./images/developer-img.png" alt="Developer photo" />
          <div class="text-wrapper">
            <p class="slider-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="signature">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </article>
</section>
