<footer class="section footer">
    <div class="container footer__container">
        <h1 class="footer__titel"><span class="footer__titel--first-part">homemade ice cream made</span><br>with passion
        </h1>
        <div class="footer__contack-blok">
            <ul class="social-network">
                <li class="social-network__item">
                    <a class="social-network__link">
                        <svg class="social-network__icon" width="" height="">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="social-network__item">
                    <a class="social-network__link">
                        <svg class="social-network__icon" width="" height="">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="social-network__item">
                    <a class="social-network__link">
                        <svg class="social-network__icon" width="" height="">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="contact__text">Feel free to contact<a class="contact__link">+61 (0) 383 766 284</a></p>
        </div>
    </div>
    <div class="decor-line"></div>
    <div>
        <p class="contact__copyright">&copy 2019 - IceCream.<br>All Rights Reserved.</p>
    </div>
</footer>