<section class="images">
  <div class="container">
    <div class="images-wrapper">
      <ul class="images-wrapper-list">
        <li>
          <img src="./images/gallery/icecream1.png" alt="icecream" width="138" height="138" />
        </li>
        <li>
          <img src="./images/gallery/icecream2.png" alt="icecream" width="138" height="138" />
          <img src="./images/gallery/icecream3.png" alt="icecream" width="138" height="138" />
        </li>
        <li>
          <img src="./images/gallery/icecream4.png" alt="icecream" width="283" height="283" />
          <img src="./images/gallery/icecream5.png" alt="icecream" width="138" height="138" />
        </li>
        <li class="images-wrapper-list-four">
          <img src="./images/gallery/icecream6.png" alt="icecream" width="138" height="138" />
          <img src="./images/gallery/icecream7.png" alt="icecream" width="138" height="138" />
        </li>
        <li>
          <img src="./images/gallery/icecream8.png" alt="icecream" width="138" height="138" />
          <img src="./images/gallery/icecream9.png" alt="icecream" width="138" height="138" />
        </li>
        <li>
          <img src="./images/gallery/icecream10.png" alt="icecream" width="138" height="138" />
        </li>
      </ul>
    </div>
  </div>
</section>
