<section class="gallery">
  <div class="gallery-wrapper">
    <ul class="gallery-wrapper-list">
      <li>
        <img
          class="gallery-img"
          src="./images/gallery/gallery-img-1.jpg"
          alt="icecream"
          width="138"
          height="138"
        />
      </li>
      <li>
        <img
          class="gallery-img"
          src="./images/gallery/gallery-img-2.jpg"
          alt="icecream"
          width="138"
          height="138"
        />
        <img
          class="gallery-img"
          src="./images/gallery/gallery-img-3.jpg"
          alt="icecream"
          width="138"
          height="138"
        />
      </li>
      <li>
        <img
          class="gallery-img"
          src="./images/gallery/gallery-img-4.jpg"
          alt="icecream"
          width="283"
          height="283"
        />
        <img
          class="gallery-img"
          src="./images/gallery/gallery-img-5.jpg"
          alt="icecream"
          width="138"
          height="138"
        />
      </li>
      <li class="gallery-wrapper-list-four">
        <img
          class="gallery-img"
          src="./images/gallery/gallery-img-6.jpg"
          alt="icecream"
          width="138"
          height="138"
        />
        <img
          class="gallery-img"
          src="./images/gallery/gallery-img-7.jpg"
          alt="icecream"
          width="138"
          height="138"
        />
      </li>
      <li>
        <img
          class="gallery-img"
          src="./images/gallery/gallery-img-8.jpg"
          alt="icecream"
          width="138"
          height="138"
        />
        <img
          class="gallery-img"
          src="./images/gallery/gallery-img-9.jpg"
          alt="icecream"
          width="138"
          height="138"
        />
      </li>
      <li>
        <img
          class="gallery-img"
          src="./images/gallery/gallery-img-10.jpg"
          alt="icecream"
          width="138"
          height="138"
        />
      </li>
    </ul>
  </div>
</section>
