<section class="gallery">
  <div class="container">
    <div class="gallery-wrapper">
      <ul class="gallery-wrapper-list">
        <li>
          <img
            class="gallery-img"
            src="./images/gallery/icecream1.png"
            alt="icecream"
            width="138"
            height="138"
          />
        </li>
        <li>
          <img
            class="gallery-img"
            src="./images/gallery/icecream2.png"
            alt="icecream"
            width="138"
            height="138"
          />
          <img
            class="gallery-img"
            src="./images/gallery/icecream3.png"
            alt="icecream"
            width="138"
            height="138"
          />
        </li>
        <li>
          <img
            class="gallery-img"
            src="./images/gallery/icecream4.png"
            alt="icecream"
            width="283"
            height="283"
          />
          <img
            class="gallery-img"
            src="./images/gallery/icecream5.png"
            alt="icecream"
            width="138"
            height="138"
          />
        </li>
        <li class="gallery-wrapper-list-four">
          <img
            class="gallery-img"
            src="./images/gallery/icecream6.png"
            alt="icecream"
            width="138"
            height="138"
          />
          <img
            class="gallery-img"
            src="./images/gallery/icecream7.png"
            alt="icecream"
            width="138"
            height="138"
          />
        </li>
        <li>
          <img
            class="gallery-img"
            src="./images/gallery/icecream8.png"
            alt="icecream"
            width="138"
            height="138"
          />
          <img
            class="gallery-img"
            src="./images/gallery/icecream9.png"
            alt="icecream"
            width="138"
            height="138"
          />
        </li>
        <li>
          <img
            class="gallery-img"
            src="./images/gallery/icecream10.png"
            alt="icecream"
            width="138"
            height="138"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
