<div class="hero__background">
  <div class="hero__overlay">
    <header class="header" id="home">
      <div class="container">
        <a class="header__logo" href="./index.html">
          <img
            srcset="./images/hero-header/logo.png 1x, ./images/hero-header/logo-2x.png 2x"
            src="./images/hero-header/logo.png"
            alt="Logo"
          />
        </a>
        <nav class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link current" href="#home">Home</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#advantages">About us</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#about-us">How it&#39;s made?</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#products">Our products</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#contacts">Contact</a>
            </li>
          </ul>
        </nav>
        <button class="header__menu-btn">
          <svg class="header__menu-btn--open" width="20" height="12">
            <use href="./images/sprite.svg#burger"></use>
          </svg>
        </button>
        <button type="button" class="buy-btn--tab-dt btn" data-modal-open-1>Buy now
            <svg class="btn__icon" width="7" height="10">
                <use href="./images/sprite.svg#icon-btn"></use>
            </svg>
        </button>
      </div>
    </header>
    <section class="hero">
      <div class="container">
        <p class="hero__label">ice cream made with</p>
        <h1 class="hero__title">passion</h1>
        <ul class="hero-list">
          <li class="hero-list__item">
            <a href="#products" class="hero-list__link--products">Products</a>
          </li>
          <li class="hero-list__item">
            <a href="#about-us" class="hero-list__link--how-its-made">How it&#39;s made?</a>
          </li>
        </ul>
        <ul class="hero-info__list">
          <li class="hero-info__item">
            <p class="hero-info__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
          </li>
          <li class="hero-info__item">
            <button type="button" class="hero-info__btn">
              <svg class="hero-info-icon" width="5" height="5">
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </button>
          </li>
        </ul>
        <ul class="hero-numbers__list">
          <li class="hero-numbers__item">
            <p class="hero-numbers__number">16</p>
            <p class="hero-numbers__text">cafes</p>
            <div class="hero-numbers__circle"></div>
          </li>
          <li class="hero-numbers__item">
            <p class="hero-numbers__number">23</p>
            <p class="hero-numbers__text">food trucks</p>
            <div class="hero-numbers__circle"></div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
