<header class="header">
    <div class="container">
        <a href="" class="header__logo" href="../index.html">
            <img srcset="./images/logo.png 1x, ./images/logo-2x.png 2x" src="./images/logo.png" alt="Logo">
        </a>
        <button class="header__menu-btn">
            <svg class="header__menu-btn--open" width="20" height="12">
                <use href=""></use>
            </svg>
        </button>
    </div>
</header>
<section class="hero">
    <div class="container">
        <p class="hero__label">ice cream made with</p>
        <h1 class="hero__title">passion</h1>
        <ul class="hero-list">
            <li class="hero-list__item">
                <a href="" class="hero-list__link--products">Products</a>
            </li>
            <li class="hero-list__item">
                <a href="" class="hero-list__link--how-its-made">How it’s made?</a>
            </li>
        </ul>
        <div class="hero__circle">

        </div>
        <img srcset="./images/hero-pic.png 1x, ./images/hero-pic-2x.png 2x" src="./images/hero-pic.png" alt="ice-cream" class="hero-pic">
    </div>
</section>