<header class="header">
    <div class="container">
        <a href="" class="header__logo" href="../index.html">
            <img srcset="./images/logo.png 1x, ./images/logo-2x.png 2x" src="./images/logo.png" alt="Logo">
        </a>
        <button class="header__menu-btn">123
            <!-- <img src="./images/burger.png" alt="123"> -->
            <svg class="header__menu-btn--open" width="20" height="12">
                <use href="./images/burger.svg"></use>
            </svg>
        </button>
    </div>
</header>
<section class="hero">
    <div class="container">
        <!-- <div class="hero__circle">
            <img srcset="./images/hero-pic.png 1x, ./images/hero-pic-2x.png 2x" src="./images/hero-pic.png" alt="ice-cream"
                class="hero-pic">
        </div> -->
        <p class="hero__label">ice cream made with</p>
        <h1 class="hero__title">passion</h1>
        <ul class="hero-list">
            <li class="hero-list__item">
                <a href="" class="hero-list__link--products">Products</a>
            </li>
            <li class="hero-list__item">
                <a href="" class="hero-list__link--how-its-made">How it&#39;s made?</a>
            </li>
        </ul>
    </div>
</section>
