<!-- Мобильное меню -->
<div class="mob-menu">
  <div class="container">
    <!-- Кнопка закрыть меню -->
    <button type="button" class="menu-close-btn">
      <svg width="14" height="14">
        <use href="./images/sprite.svg#icon-close-1"></use>
      </svg>
    </button>
    <!-- Кнопка купить -->
    <button type="button" class="btn buy-btn" data-modal-open-2>
      Buy now
      <svg class="btn__icon" width="7" height="10">
        <use href="./images/sprite.svg#icon-Vector-1"></use>
      </svg>
    </button>

    <!-- Меню сайта -->
    <ul class="mob-menu-nav">
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="">Home</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="index.html#advantages">About us</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="index.html#about-us">How it’s made?</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="index.html#products">Our products</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="index.html#contacts">Contact</a>
      </li>
    </ul>
  </div>
</div>
