<!-- Мобильное меню -->
<div class="mob-menu is-hidden animate__animated animate__fadeInRightBig">
  <div class="container">
    <!-- Кнопка закрыть меню -->
    <button type="button" class="menu-close-btn">
     <svg width="14" height="14">
            <use href="./images/sprite.svg#icon-close-1"></use>
          </svg>

    </button>
    <!-- Кнопка купить -->
    <button type="button" class="buy-btn">Buy now
      <svg class="buy-btn__icon" width="5.26" height="8">
            <use href="./images/sprite.svg#icon-Vector-1"></use>
          </svg>
    </button>

    <!-- Меню сайта -->
    <ul class="mob-menu-nav">
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="">Home</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="./index.html#customer-reviews">About us</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="./index.html#advantages">How it’s made?</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="./index.html#products">Our products</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="./index.html#contacts">Contact</a>
      </li>
    </ul>
  </div>
</div>
