<!-- Мобильное меню -->
<div class="mob-menu">
  <div class="container">
    <!-- Кнопка закрыть меню -->
    <button type="button" class="menu-close-btn">
     <svg width="14" height="14">
            <use href=""></use>
          </svg>

    </button>
    <!-- Кнопка купить -->
    <button type="button" class="buy-btn">Buy now</button>

    <!-- Меню сайта -->
    <ul class="mob-menu-nav">
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="">Home</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="">About us</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="">How it’s made?</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="">Our products</a>
      </li>
      <li class="mob-menu-nav__item">
        <a class="mob-menu-nav__link" href="">Contact</a>
      </li>
    </ul>
  </div>
</div>
