<div class="products">
    <div class=" container products-container">
        <p class="products--pretitle">100% natural</p>
        <h2 class="products--title">products</h2>
        <ul class="products-cards-list list">
            <li class="products-card">
                <h3 class="products-card--title">ice cream</h3>
                <p class="products-card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <div class="arrow-thumb">
                    <img class="arrow-pic" alt="arrow" width="40" src="../src/images/img-products/arrow-right-1x.png">
                </div>
               
             

            </li>   
            <li class="products-card">
                <h3 class="products-card--title">ice coffee</h3>
                <p class="products-card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <div class="arrow-thumb">
                    <img class="arrow-pic" alt="arrow" width="40" src="../src/images/img-products/arrow-right-1x.png">
                </div>
            </li>
            <li class="products-card">
                <h3 class="products-card--title">milkshakes</h3>
                <p class="products-card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <div class="arrow-thumb">
                    <img class="arrow-pic" alt="arrow" width="40" src="../src/images/img-products/arrow-right-1x.png">
                </div>
                </li>
        </ul>

    </div>
</div>