<section class="products" id="products">
  <div class="container products__container">
    <p class="products__pretitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products-cards-list list">
      <li class="products-card">
        <div class="card-box">
          <div class="card-front">
            <h3 class="products-card__title">ice cream</h3>
            <p class="products-card__text">
              Try our delicious ice cream with more than 20 flavors. It is made with love by
              traditional recipes.
            </p>
            <button class="arrow-button-front arrow-button" type="button">
              <svg class="arrow-icon" width="12" height="12">
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="card-back">
            <h3 class="products-card__title">want to know more?</h3>
            <p class="products-card__text">
              Our delicious ice-cream is made of the organic milk, fresh fruit, best chocolate and
              perfect almonds.
            </p>
            <button class="arrow-button-back arrow-button" type="button">
              <svg class="arrow-icon" width="12" height="12">
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="products-card">
        <div class="card-box card-box-2">
          <div class="card-front">
            <h3 class="products-card__title">ice coffee</h3>
            <p class="products-card__text">
              Need an impulse of energy on a hot day? Try our perfect ice coffee with yummy foam on
              top, strong drink and ice cubes inside.
            </p>
            <button class="arrow-button-front-2 arrow-button" type="button">
              <svg class="arrow-icon" width="12" height="12">
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="card-back card-back-2">
            <h3 class="products-card__title">want to know more?</h3>
            <p class="products-card__text">
              We propose a big variety of coffee flavors such as frappe, freddo espresso, iced
              cappuccino, palazzo and more.
            </p>
            <button class="arrow-button-back-2 arrow-button" type="button">
              <svg class="arrow-icon" width="12" height="12">
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="products-card">
        <div class="card-box card-box-3">
          <div class="card-front">
            <h3 class="products-card__title">milkshakes</h3>
            <p class="products-card__text">
              What our youngest clients love the most are milkshakes. Various toppings with a
              traditional milky base create the magic.
            </p>
            <button class="arrow-button-front-3 arrow-button" type="button">
              <svg class="arrow-icon" width="12" height="12">
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="card-back card-back-3">
            <h3 class="products-card__title">want to know more?</h3>
            <p class="products-card__text">
              We make our gorgeous milkshakes with the best organic milk, blend it with a natural
              ice cream.
            </p>
            <button class="arrow-button-back-3 arrow-button" type="button">
              <svg class="arrow-icon" width="12" height="12">
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
