.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31; //21px
  border: none;
  border-radius: 22px;
  background-color: inherit;
  cursor: pointer;

  overflow: hidden;
}

.btn:hover {
  &::after {
    margin-left: -10px;
    transform: translateX(80px);
  }
}

.btn--accent::after,
.btn--white::after {
  content: '';
  width: 7px;
  height: 10px;
  margin-left: 13px;

  background-repeat: no-repeat;

  transition: all 1s ease;
}

.btn--accent {
  color: var(--main-btn-text-color);
  background-color: var(--main-btn-color);

  &::after {
    background-image: url(../images/contacts/btnIcon-accent.svg);
  }
}

.btn--white {
  color: var(--secondary-btn-text-color);
  background-color: var(--secondary-btn-color);

  &::after {
    background-image: url(../images/contacts/btnIcon-white.svg);
  }
}
// mob-menu *********************************************
// <button type="button" class="buy-btn btn btn-white">Buy now</button>   добавити ці класи

.buy-btn {
  width: 209px;
  margin: 60px auto 0px auto;

  &::after {
    margin-left: 20px;
  }
}

//  *********************************************

// contacts *********************************************
.contacts-btn {
  width: 161px;

  &.btn--accent {
    background-color: #d41342;

    // &::after {
    //   // margin-left: 8px;
    //   // // display: none; // якщо непотрібно

    //   // @include tablet {
    //   //   margin-left: 13px;
    //   // }
    // }
  }

  @include tablet {
    width: 198px;
  }
}
