.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31; //21px

  background-color: inherit;
  border: none;
  border-radius: 22px;

  transition-duration: var(--time-transition);
  transition-timing-function: var(--typical-cubic);

  cursor: pointer;

  overflow: hidden;

  &:hover {
    .btn__icon {
      margin-left: -7px;
      transform: translateX(90px);

      transition: all 0.6s ease;
    }
  }
}

.btn__icon {
  margin-left: 13px;

  stroke: var(--main-btn-hover-color);
  transition: all 0.6s ease;
}

.btn--accent {
  color: var(--main-btn-text-color);
  background-color: var(--main-btn-color);

  .btn__icon {
    stroke: var(--secondary-btn-color);
  }

  &:hover {
    background-color: var(--main-btn-hover-color);
  }
}

.btn--white {
  color: var(--secondary-btn-text-color);
  background-color: var(--secondary-btn-color);

  &:hover {
    background-color: var(--secondary-btn-hover-color);
  }
}

// HEADER ***********************************************

// HEADER ***********************************************

// MOB-MENU *********************************************
// <button type="button" class="buy-btn btn btn-white">Buy now</button>   добавити ці класи

.buy-btn {
  width: 209px;
  margin: 0 auto;

  &::after {
    margin-left: 20px;
  }
}

//  *********************************************

// CONTACTS *********************************************
.contacts-btn {
  width: 161px;
  &.btn--accent {
    .btn__icon {
      // margin-left: 8px;
      // display: none; // якщо непотрібно
    }
    background-color: #d41342;
    @include tablet {
      width: 191px;
    }
    @include desktop {
      width: 198px;
    }
  }

  &.btn--white {
    @include tablet {
      width: 174px;
    }
    @include desktop {
      width: 180px;
    }
  }
  @include tablet {
    width: 198px;
  }
}

// !!!!!!!!!!!  додати спрайт до свої кнопки!!!!
// <svg class="btn__icon" width="7" height="10">
//   <use href="./images/sprite.svg#icon-btn"></use>
// </svg>
