.advantages {
  padding-top: 40px;
  padding-bottom: 80px;

  background-color: #fff5f6;

  @media screen and (max-width: 767px) {
    background-image: url('../images/advantages/mobile-milk-1x-bg.png');
    background-size: contain;
    background-position: 0px 574px;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/advantages/mobile-milk-2x-bg.png');
    }
  }

  @include tablet {
    padding-top: 20px;
    padding-bottom: 84px;
  }

  @include desktop {
    padding-top: 60px;
    padding-bottom: 120px;

    background-image: url('../images/advantages/desktop-milk-1x-bg.png');
    background-size: contain;
    // background-position: 0px 255px;
    background-position: 0px 215px;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/advantages/desktop-milk-2x-bg.png');
    }
  }
}

.about-wrap {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include desktop {
    margin-bottom: 21px;
  }

  &__pretitle {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: var(--small-title-size);
    line-height: 1.16;

    text-align: center;
    text-transform: uppercase;

    color: var(--pretitle-color);

    @include tablet {
      margin-bottom: 16px;
    }
  }

  &__title {
    margin-bottom: 32px;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: var(--big-title-size);
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--main-title-color);

    @include tablet {
      margin-bottom: 40px;
    }

    @include desktop {
      margin-bottom: 79px;
    }
  }

  &__flex {
    @include tablet {
      display: flex;
      // justify-content: center;
      justify-content: left;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__img {
    // margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;

    @include tablet {
      width: 336px;
      margin-right: 32px;
      margin-left: 0;
    }

    @include desktop {
      margin-right: 139px;
      width: 501px;
    }
  }

  &__content {
    padding-top: 40px;
    width: 220px;
    @include tablet {
      width: 440px;
      padding-top: 0;
    }

    @include desktop {
      // margin-right: 161px;
      width: 463px;
      padding-top: 72px;
    }
  }

  &__text {
    display: block;
    margin-bottom: 40px;

    font-family: 'DM Sans';
    font-weight: 500;
    font-size: var(--main-text-size);
    line-height: 1.6;
    // width: 220px;

    color: var(--main-text-color);

    @include tablet {
      width: 334px;
    }

    @include desktop {
      // margin-top: 72px;
      margin-bottom: 32px;
      width: 463px;

      letter-spacing: 0.04em;
    }
  }

  &__secondary-text {
    display: block;
    margin-bottom: 20px;

    font-family: 'DM Sans';
    font-weight: 500;
    font-size: var(--main-text-size);
    line-height: 1.6;
    // width: 220px;

    color: var(--secondary-text-color);

    @include tablet {
      width: 334px;
      margin-bottom: 40px;
    }

    @include desktop {
      width: 463px;

      letter-spacing: 0.04em;
    }
  }

  &__btn {
    padding: 0px 37px;
  }
}

.advantages-list {
  // padding-right: 70px;
  padding-top: 66px;
  padding-bottom: 0;

  @include tablet {
    display: flex;
    padding-left: 14px;
    padding-top: 86px;
  }

  @include desktop {
    padding-left: 0;
    padding-top: 92px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main-title-color);

    @include tablet {
      margin-bottom: 13px;
      font-size: var(--big-title-size);
      text-transform: lowercase;
    }

    @include desktop {
      margin-bottom: 16px;
    }
  }

  &__content {
    font-weight: 700;
    font-size: var(--main-text-size);
    line-height: 1.7;

    @include tablet {
      line-height: 1.74;
    }

    @include desktop {
      line-height: 1.76;
    }
  }
}

.advantages-list__item {
  position: relative;
  max-width: 230px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 98px;
    }
  }

  @include tablet {
    max-width: 162px;
    margin-bottom: 0;

    &:nth-child(1) {
      margin-right: 16px;
    }

    &:nth-child(2) {
      margin-right: 22px;
    }
  }

  @include desktop {
    max-width: 288px;

    &:nth-child(1) {
      margin-right: 142px;
    }

    &:nth-child(2) {
      margin-right: 106px;
    }
  }

  &:nth-child(1)::before {
    content: ' ';
    display: block;
    position: absolute;
    height: 50px;
    width: 33px;
    top: -66px;
    left: 0px;
    background-image: url(/images/adv-icon-1.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      top: -86px;
    }

    @include desktop {
      top: -90px;
    }
  }
  &:nth-child(2)::before {
    content: ' ';
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    top: -66px;
    left: 0px;
    background-image: url(/images/adv-icon-2.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      top: -86px;
    }

    @include desktop {
      top: -90px;
    }
  }
  &:nth-child(3)::before {
    content: ' ';
    display: block;
    position: absolute;
    height: 50px;
    width: 44px;
    top: -66px;
    left: 0px;
    background-image: url(/images/adv-icon-3.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      top: -86px;
    }

    @include desktop {
      top: -90px;
    }
  }
}
