.contacts {
  padding-top: 48px;
  padding-bottom: 48px;
  background: linear-gradient(0deg, var(--main-bg-color) 74%, var(--secondary-bg-color) 74%);
}

.contacts__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contacts__item {
  background-color: var(--secondary-bg-color);
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.representation {
  font-style: normal;
  font-weight: 500;
  padding: 40px 32px;
}

.representation__name {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 24px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.35; //1.83 замінив щоб співпадало з макетом
  letter-spacing: 0.04em;
  color: #ffffff;

  background: #f0d1a5;
  border-radius: 4px;

  .contacts__item:nth-child(2) & {
    background: #c2e297;
  }
}

.representation-city__name {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.83;

  letter-spacing: 0.04em;

  color: var(--main-text-color);
}
.representation-city__address {
  max-width: 185px;

  font-size: 12px;
  line-height: 1.5;

  color: var(--secondary-text-color);
}
.representation-city,
.representation-works {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}
.representation-works {
  padding-top: 24px;
}

.representation-works__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  color: var(--main-text-color);
}
.representation-works__hours {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  color: var(--pretitle-color);

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.representation-links {
  display: flex;
  flex-direction: column;
  padding-top: 24px;

  & a {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: var(--secondary-text-color);
  }
}
.contacts-buttons {
  margin-top: 32px;
}


