.footer {
    background-color: rgba(255, 245, 246, 1);
    width: 100%;
    padding-top: 24px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        padding-top: 60px;
    }
}

@media screen and (min-width: 768px) {
    .footer__container {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
}

.footer__titel {
    width: 234px;

    padding-top: 0;
    font-family: Titan One;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: left;
    color: rgba(212, 20, 67, 1);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .footer__titel {
        display: block;
        margin-right: 0;
        margin-bottom: 40px;
        width: 340px;
        font-size: 48px;
        letter-spacing: 0.06em;
    }
}

@media screen and (min-width: 1200px) {
    .footer__titel {
        width: 500px;
        margin-bottom: 60px;
        font-size: 58px;
        line-height: 1.14;
    }
}

.footer__titel--first-part {
    font-family: Titan One;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 165, 186, 1);
    margin-left: 2px;
    padding-top: 0;
}

@media screen and (min-width: 768px) {
    .footer__titel--first-part {
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 768px) {
    .footer__titel--first-part {
        padding-bottom: 16px;
        font-size: 30px;
        line-height: 1.13;
    }
}

.footer__contack-blok {
    margin-bottom: 40px;
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .footer__contack-blok {
        width: 268px;
        margin-left: auto;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.social-network {
    list-style: none;
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
}

.social-network__item {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgba(254, 165, 187, 1);
}

@media screen and (min-width: 768px) {
    .social-network__item {
        width: 34px;
        height: 34px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .social-network__item {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}

.social-network__item:not(:last-child) {
    margin-right: 28px;
}

.contact__text {
    font-family: DM Sans;
    font-style: normal;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.83;
    letter-spacing: 0em;
    text-align: right;
}

@media screen and (min-width: 768px) {
    .contact__text {
        font-size: 14px;
    }
}

.contact__link {
    font-family: DM Sans;
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(212, 20, 67, 1);
}

@media screen and (min-width: 768px) {
    .contact__link {
        font-size: 14px;
    }
}

.contact__copyright {
    margin-top: 16px;
    margin-bottom: 20px;
    color: rgba(144, 126, 130, 1);
    font-family: DM Sans;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .contact__copyright {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.decor-line {
    border-top: 1px solid rgba(225, 225, 225, 1);
}