
.gallery-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
.gallery-img {
  transition: all 0.5s ease;
}
.gallery-img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.gallery-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 123px;
  position: relative;
}

  & img:not(:last-child) 
  {
    margin-bottom: 8px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 171px;
    left: 0;
    top: 0;
    background-color: #fff5f6;
    position: absolute;
  }
}

.gallery-wrapper li:not(:last-child) {
  margin-right: 8px;
}

.gallery-wrapper-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.gallery-wrapper-four {
  margin-top: 45px;
}

@media screen and (max-width: 480px) {
  .gallery-wrapper-list {
    max-width: 287px;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .gallery-wrapper-list {
    max-width: 620px;
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .gallery-wrapper-list {
    width: auto;
    height: 100%;
  }
