.products {
    padding-top: 80px;
    padding-bottom: 40px;
    @include mobile {
        padding-top: 40px;
        padding-bottom: 60px;}
    @include desktop {
        padding-top: 59px;}
        background-color: #ffffff;
        width: 100vw;
}
 

.products__pretitle {
    display: block;
    text-align: center;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    @include tablet {
        font-size: 26px;
        line-height: 1.15}
    @include desktop {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;}
    text-transform: uppercase;
    color: var(--pretitle-color);
}

.products__title {
    display: block;
    text-align: center;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;  
    line-height: 1.15;
    letter-spacing: 0.04em;
    @include tablet {
        font-size: 48px;}
    @include desktop {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;}
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-top: 15px;
    margin-bottom: 0px;
}

.products-cards-list {
    display: block;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding-left: 4px;
        padding-right: 4px;}
    @include desktop {
        margin: 0 -16px;
        padding: 0;}
}


.products-card {
    display: flex;
    align-items: center;
    margin-top: 140px;
    height: 489px;
    @include tablet {
        margin-top: 154px;
        margin-left: 8px;
        margin-right: 8px;
        flex-basis: calc((100% - 48px) / 3);
        height: 473px;}
        @include desktop {
            margin-top: 261px;
            margin-left: 16px;
            margin-right: 16px;
            flex-basis: calc((100% - 96px) / 3);
            height: 535px;};
        perspective: 2000px;}

.card-box {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2000ms;
    transform-style: preserve-3d;
}
        
// .products-card:hover .card-box {
//     transform: rotateY(180deg);
// }

.do-flip {
    transform: rotateY(180deg);
}

.card-front {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 24px;
    flex-basis: 100%;
    height: 489px;
    padding-top: 160px;
    padding-bottom: 40px;
    @include tablet {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        flex-basis: 100%;
        height: 100%;
        padding-top: 118px;
        padding-bottom: 40px;}
    @include desktop {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        flex-basis: 100%;
        height: 100%;
        padding-top: 165px;
        padding-bottom: 60px;};
        transition: transform 0.8s;
        transform-style: preserve-3d;}

.products-card:nth-child(1) .card-front {
    background-color: #FFB8CA;}
.products-card:nth-child(2) .card-front {
    background-color: #F0D1A5;}
.products-card:nth-child(3) .card-front {
    background-color: #C2E297;}



.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    }


.card-back {
display: flex;
flex-direction: column;
position: relative;
align-items: center;
border-radius: 24px;
flex-basis: 100%;
height: 489px;
padding-top: 160px;
padding-bottom: 40px;
@include tablet {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    flex-basis: 100%;
    height: 100%;
    padding-top: 118px;
    padding-bottom: 40px;}
@include desktop {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    flex-basis: 100%;
    height: 100%;
    padding-top: 165px;
    padding-bottom: 60px;}
transform: rotateY(180deg);}
    
.products-card:nth-child(1) .card-back {
background-color: #FFB8CA;}
.products-card:nth-child(2) .card-back {          
background-color: #F0D1A5;}
.products-card:nth-child(3) .card-back { 
background-color: #C2E297;}


.products-card:nth-child(1) .card-front::before {
    background-image: url(/images/img-products/prod-pic1-mob-1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/img-products/prod-pic1-mob-2x.png);}
    @include tablet {
        background-image: url(/images/img-products/prod-pic1-tab-1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/img-products/prod-pic1-tab-2x.png);};}
    @include desktop {
        background-image: url(/images/img-products/prod-pic1-desk-1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/img-products/prod-pic1-desk-2x.png);};}        
        }

.products-card:nth-child(2) .card-front::before {
    background-image: url(/images/img-products/prod-pic2-mob-1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/img-products/prod-pic2-mob-2x.png);}
    @include tablet {
        background-image: url(/images/img-products/prod-pic2-tab-1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/img-products/prod-pic2-tab-2x.png);};}
    @include desktop {
        background-image: url(/images/img-products/prod-pic2-desk-1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/img-products/prod-pic2-desk-2x.png);};}        
        }

.products-card:nth-child(3) .card-front::before {
        background-image: url(/images/img-products/prod-pic3-mob-1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/img-products/prod-pic3-mob-2x.png);}
    @include tablet {
        background-image: url(/images/img-products/prod-pic3-tab-1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/img-products/prod-pic3-tab-2x.png);};}
    @include desktop {
        background-image: url(/images/img-products/prod-pic3-desk-1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/img-products/prod-pic3-desk-2x.png);};}        
        }

       
.card-front::before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 280px;
    height: 280px;
    top: -140px;
    @include tablet {
        width: 224px;
        height: 224px;
        top: -138px;}
    @include desktop {
        width: 394px;
        height: 394px;
        top: -261px;}
    }




.products-card__title {
    display: flex;
    position: relative;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    @include desktop {
        font-size: 20px;
        line-height: 1.13;}
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
}

.products-card__title::after {
    content: '';
    background-image: url(/images/img-products/dots.svg);
    display: block;
    position: absolute;
    bottom: -38px;
    left: 50%;
    background-repeat: no-repeat;
    width: 26px;
    height: 6px;
    transform: translate(-50%, -50%);

}

.products-card__text {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    @include tablet {
        margin-left: 32px;
        margin-right: 32px;
        line-height: 1.76;}
    @include desktop {
        margin-left: 75px;
        margin-right: 75px;
        font-size: 16px;}
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--thirdly-text-color);
}

.arrow-button {
    cursor: pointer;
    border: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    }


.arrow-icon {
    fill: var(--main-title-color); 
  }

